---
import PageLayout from '@layouts/PageLayout.astro';
import DemoHeader from '@components/DemoHeader.astro';

const modules = import.meta.glob('../../../pages/demos/accessibility/*.astro', { eager: false });
const title = 'Accessibility';

console.log('modules: ', modules);
---

<PageLayout title={title} description="Accessibility demos">
  <DemoHeader title={title} isScrolling />
  <main>
    <div class="demo-list-index">
      {
        modules ? (
          <div class="demo-list-container">
            <h1>{title}</h1>
            <ul class="demo-list">
              {Object.keys(modules).map((module) => {
                const slug = module.substring(module.indexOf('./') + 2, module.indexOf('.astro'));

                return (
                  <li>
                    <a href={slug}>{module}</a>
                  </li>
                );
              })}
            </ul>
          </div>
        ) : null
      }
    </div>
  </main>
</PageLayout>
