---
import Layout from '@layouts/Layout.astro'

const title = 'Three.js demos'

type Demo = {
  title: string;
  url: string;
}

const demos = [
  { title: 'Blob', url: '/threejs-astro-demos/demos/blob'},
  { title: 'Terrain', url: '/threejs-astro-demos/demos/terrain'},
  { title: 'Sinus wave', url: '/threejs-astro-demos/demos/sinus-wave'},
  { title: 'Playground', url: '/threejs-astro-demos/demos/playground'},
]
---

<Layout title={title} description={title}>
  <main>
    <h1 id="heading">{title}</h1>
    {demos && demos.length > 0 ? 
      <ul aria-labelledby="heading">    
        {demos.map((demo: Demo) => (
          <li><a href={demo.url}>{demo.title}</a></li>
        ))}
      </ul>
     : null} 
  </main>
</Layout>
