---
import PageLayout from '@layouts/PageLayout.astro';
import DemoHeader from '@components/DemoHeader.astro';

const modules = import.meta.glob('/src/pages/demos/threejs-playground/*.astro', { eager: false });
const title = 'Three.js playground';
---

<PageLayout title={title} description="Three js demos">
  <DemoHeader title={title} isScrolling />
  <main>
    <div class="demo-list-index">
      {
        modules ? (
          <div class="demo-list-container">
            <h1>{title}</h1>
            <ul class="demo-list">
              {Object.keys(modules).map((module) => {
                const slug = module.substring(module.indexOf('/src/pages/demos/threejs-playground/') + 36, module.indexOf('.astro'));

                return (
                  <li>
                    <a href={`threejs-playground/${slug}`}>{slug}</a>
                  </li>
                );
              })}
            </ul>
          </div>
        ) : null
      }
    </div>
  </main>
</PageLayout>
